@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

#navigation {
    float: right;
    max-width: 150px;
}

#content {
    max-width: 750px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    #container {
        flex-direction: column;
        max-width: none;
    }

    #navigation, #content {
        max-width: none;
    }
}

#footer {
    text-align: center;
}

#column_container {
    display: flex;
    flex-wrap: wrap;
}

#column {
    flex: 1;
    min-width: 300px;
}
